# Ignore the virtual environment
venv/
env/

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore Streamlit settings
.streamlit/

# Ignore Mac junk (just in case)
.DS_Store
# Ignore heavy AI model checkpoints
finbert_results/
app/saved_model/